:root {
  --color-accent: oklch(65% 50% 0);
}

html {
  accent-color: var(--color-accent);
  color-scheme: dark;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 15px;
}

input, textarea, button, select {
  font: inherit;
  font-size: 80%;
  /* display: block;
  width: 100%; 
  box-sizing: border-box; 
  padding: 0.5em; */
}

/* label {
  display: block; 
  margin-block: 0.5em; 
} */

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
}

button {
  grid-column: 1 / -1;
}


nav ul {
  display: contents;
}

nav li {
  display: contents;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  text-align: center;
  margin-bottom: 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}

nav a.current {
  border-bottom-width: 0.4em; 
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  padding-bottom: calc(10px - 0.4em); 
}

nav a:hover {
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-bottom: 0.4em solid var(--color-accent);
  border-bottom-width: 0.4em; 
  border-bottom-style: solid;
  padding-bottom: calc(10px - 0.4em); 
}

img {
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

article h2 {
  margin: 0;
}

label.color-scheme {
  position: absolute;
  top: 1.8em;
  right: 1em;
  display: inline-flex;
  gap: 4px;
}
   